
@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat/Montserrat-Light.eot');
    src: url('../montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../montserrat/Montserrat-Light.woff') format('woff'),
        url('../montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize*/
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}


.skateboarding img{
    color:red;
    width:300px;
    height:300px;
}

p{
    font-weight:300;
    color:#303030;
}

h1,h2,h3{
    color:#303030 ;
}

body{
    margin:0;
    font-family:Montserrat !important;

}
.main{
    //margin: 0px;
}
/* H1T CSS */



.banner-container{
    position:relative;
    top:0;
    //background-color:#0023ab;
    width:100%;
    //margin-left:-350px;
    //margin-top:-350px;
    margin-bottom:330px;
    height:100vh;
}

.banner-animator{
    width:100%;
    height:1200vh;
    overflow:hidden;
}

.banner-animator img{
    width:100%;
}

.banner-cap{
    position:absolute;
    top:35vw;
    left:10%;
    width:40%;
    min-width:400px;

}
#title{

    padding: 14px 25px;
    color:white;
    font-weight:bold;
    font-size:20px;

    /*height: 40px;*/
}

/*#empty{
 height:60px;
 background-color:#ede6ed;
}*/

.view_applicant_p{

    padding-left:23px;
}

.user-links{
    width:150px;
    margin-left:auto;
    padding:5px;
}
.user-links a{
    padding:2px;
    margin-left:auto;
    text-decoration:none;
    color:#aaa;
}

.user-links a:hover{
    background-color:rgba(0,0,0,0);
    color:#006769;
    transition:0.7 ease-in-out;
    cursor:pointer
}

a{
    text-decoration:none;
    color:#404040;
}

#nav-div{
    display:flex;
    direction:column;
    background-color:rgba(170,170,170,0.5);
    //padding:5px 0px;
    width:100%;
    //height:45px;
    //margin-bottom:10px;

    backdrop-filter: blur(15px);

}

#nav-div-cont{
        width:80%;
        margin-bottom:10px;
        //background-color:#04aa3a;
}
.user{
    width:20%;
    //background-color:#046a3a;
}
.navbar-nav{
    width:100%;
    display:flex;
    direction:column;
    justify-content:flex-start;
    gap:10px;
    //background-color:blue;
}
.navbar-nav-user{
    width:100%;
    display:flex;
    direction:column !important;
    justify-content:flex-start;
    gap:10px;
    //background-color:red;
}

.navbar-nav-user li{
    display:flex !important;
    //margin:10px;
}
#nav-div-cont li{
     display:flex;
     //margin:10px;
     text-style-list:none;
    /*display: inline-block;*/
}

#nav-div-cont li a{
    color:#242424;
    text-decoration:none;
    transition:0.3s ease-in-out;
}

#nav-div-cont li a:hover{
    color:#006769;
}
.btns {
    //outline:none;
    width:200px !important;
    background:none;
    //margin: 30px 0;
    //background-color:#006769;
    border: 2px solid #006769;
    color:#006769;
    font-weight:bold;
    border-radius:6px;
    padding:3px 6px;
    text-decoration:none;
}

.btns-margin{
    margin: 30px 4%;

}

.btns:hover{
    background-color:#006769;
    color:white;
    transition:0.7 ease-in-out;
    cursor:pointer
}

#join_btn{

    height:50px;
    width:200px;
    font-size:20px;
    margin-top:-10px;
}

#join_btn3{

    height:50px;
    width:200px;
    font-size:20px;
    background-color:coral;
    color:#fff;
    border:none;
}

#join_btn3:hover{

    height:50px;
    width:200px;
    font-size:20px;
    color:coral;
    background-color:#fff;
    border:2px solid coral;
}


.flash-messages{
        //height:40px;
        padding:10px;
}

.footer{

  /*margin-top:150px;
  margin-left:-300px;
  margin-right:-300px;*/
  background-color:#a7a7a7;
  padding:2%;
  
}

.footer-cap h3{

  font-size:12px;
  
}

.alert-error{
        background-color:#ebb;
}

.alert-success{
        background-color:#beb;
}

.span-error{
    color:#ee1010;
    margin:10px 10px 10px 0;
    font-size:12px;
}

.warning{
    background-color:#e99 !important;
}

.actions a{
    cursor:pointer

}

.paras-subtopics{
    margin: 5px 4%;
    font-size:18px;
    color:#404040;
}
ul.paras-subtopics{
    font-size:0.9em;
    color:#606060;

}
.tags h1,h2,h3{
    margin: 35px 4%;
    color:#404040;
    line-height:1x;
}
.spans{
    color:#006769;
}

span.spans{
    font-weight:bold;
    font-size:1.3em;

}

/* Account Form*/
.account_container{

    width:70%;
    //min-width:450px;
    margin-left:4%;
    /*background-color: #f8f9fa;*/

}

.my-card{
    border: 1px solid #707070;
    border-radius: 10px;
    padding:25px 25px 25px 65px ;
    justify-content:center;
}

.form-group{

    /*background-color: #f8f9fa;*/
    width:80%;
    white-space:no-nowrap;


}


.group{

    //padding:0 10%;
    background-color:f8f9aa;
    width:100%;
    margin:0 auto;
    //white-space:no-nowrap;

}

.acc-form-control{

      padding: 10px 15px;
      margin-bottom: 0.8rem;
      border:1px solid #bebebe;
      border-radius:10px;
      width:100%;


}

textarea{
    font-size:14px;
    font-weight:normalize;
}

.acc-labels label{
    font-size:12px;
    color:#006769;
    vertical-align:middle;

}
.margin-l-15{

    margin-left:15px;

}
.acc-form-control-up{

      padding: 10px 15px;
      margin-bottom: 0.8rem;
      border:0px solid #bebebe;
      border-radius:10px;
      width:100%;
      font-size:16px;

}



*{
font-family:Montserrat;
font-weight:400;

}

.job-title{
    background-color:#808080;
    color:#fff;
    font-weight:bold;
    //display:inline-block;
    padding:5px;
    border-radius:5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.job_ad_group{
    //margin-left:-10px;
}

.job_main-cont{
    width:100%;
    margin:70px auto;
    //background-color:#235ab1;
    display:flex;
    align-items:center;
    //justify-content:center;
    flex-direction: row;
}

.job_ad_container{
    //max-width:70px;
    width:100%;
    margin: 30px auto;
    position:relative;
    //background-color:#333abc;


}
.job_ad_style{
    width:80px;
    margin: 20px auto;
    border: 2px solid #34aba7;
    border-radius:10px;
    padding:10px 10px;
    //position:relative;
    text-align:center;
    align-items:center;
}


.new_job_ad_style{
    width:100%;
    min-width:250px;
    margin: 20px auto;
    border: 2px solid #34aba7;
    border-radius:10px;
    padding:10px 10px;
    text-align:center;
}

.grid-div{
    display:flex;
}
.img-div{
    display:flex;
    justify-content:center;
    width:10%;
    height:7vh;
    margin-left:-160px;
    margin-top:75px;
    //background-color:#006769;
    //padding:10px;
    object-fit:cover;
    //border-radius:50%;
}

.img-div img{
    width:150%;
}
.home-ads{
    width:40%;
    margin: 20px auto;
    background-color:#006769;
    border-radius:10px;
    color:#fff;
    padding:10px 10px;
    //position:relative;
    text-align:center;
    align-items:center;
}

.card-cont h2{
    margin-top:-10px;
    vertical-align:bottom;
    //background-color:#676aee;

}
.about-team-cont{

    display:flex !important;
    direction:column !important;
    max-width:1100px !important;
    gap:10px;
    flex-wrap:wrap  !important;
    //background-color:#333;
    //justify-content:center;


}

.about-team{

    width:300px !important;
    padding:0px !important;
    overflow:hidden;
    border:5px solid white !important;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    margin:10px auto;

}

.img-cont{
    //display:flex;
    width:100px;
    height:100px;
    border-radius:50%;
    overflow:hidden;
    content-justify:center;
    margin:15% 15% auto auto;
}



.img-cont-about-team{
    display:flex;
    width:120px;
    height:120px;
    border:5px solid white;
    border-radius:50%;
    background-color:#aba;
    overflow:hidden;
    content-justify:center;
    align-items:center;
    margin:0 auto -15% auto!important;

}

.team-details{

    background-color:#eaeaea;
    width:100%;
    height:25vh;
    //z-index:0;

}

.team-details p{
    text-align:center;
    font-weight:bold;
}

.team-pos{

    text-align:center !important;
    font-weight:bold !important;
    font-size:15px !important;

}

.team-email{

    text-align:center !important;
    margin-top:-10px !important;
    font-size:15px !important;


}

.bg-drop{

    display:flex;
    align-items:flex-end;
    width:100%;
    background-color:#006769;
    height:15vh;
    z-index:1;

}

.img-cont-about-team img{
    width:100%;
}


.objectives-div ul li{

    font-weight:bold;

}


/*-----------------VIeW JOB-------------------*/

.view_job{

    display:inline-block;
    text-decoration:none;
    background:#006769;
    width:100%;
    text-weight:Light;
    height:30px;
    color:#fff;
    text-align:center;
    border-radius:0px 0px 5px 5px;

}

#browse-job{
    border:1px solid #eee;
    width:1000px !important;
    padding: 0 50px 50px 50px;
}

.adj-width-60{

    width:60%;

}

.job_ad_group{


    width:100%;
    padding:5px;
    //font-size:25px;
    //display:block;
    //white-space:no-nowrap;

}

.job_ad_group p{

    //margin-top:0;
    color:#404040;
    font-size:14px !important;
    padding-left:10px;
    font-weight:bold;

}

.job_ad_group label{

    margin-top:0;
    color:#404040;
    font-size:16px;
    padding-left:10px;
    border-radius:5px;
    background-color: #eee;
    width:900px !important;

}

.jb-viewed-card{

  border: 0.40rem solid #f8f9fa;
  //top: 10%;
  //display:flex;
  justify-content:left;
  align-items:left;
  width:100%;
  padding:50px;

}


.tags{

    margin:150px auto  0px auto ;
    width:70%;
    //background-color:#eee;

}
.main{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index:1;
}
.material-icons{
    font-size:35px !important;
}

.centralise_font{
    font-weight:bold;
    color:#505050 !important;
    //margin-top:-5px
}

.centralise_font label{
    font-weight:bold;
    color:#505050 !important;
    //margin-top:-5px
}

.prf-image{
    width:100%;
    height:100%;
    //margin:10px 0px auto auto;
    object-fit:cover;
    //border-radius:50%;
}

.centralise_font p{
    vertical-align:;
    //display:inline-block;
    margin-top:0px;
    margin-bottom:-15px;
    font-size:18px;
}
.card-cont{

}

.centralise_font {
    //background-color:#23bbaa;
    //display:inline-block;
    //padding-left:20px;
    //margin:0px;

}
.centralise_font span{
    font-size:17px;
    color:#23bbaa;
    //margin-right:-5px;
    vertical-align:bottom;
}

.centralise_font label{
    font-size:15px;
    color:#23bbaa;
    vertical-align:middle;

}


.control{
  background-color: #f8f9fa;
  padding: 10px;
  padding: 10px 15px;
  margin-bottom: 0.8rem;
  border:1px solid #bebebe;
  border-radius:10px;
  //width:95%

}

/* Fill Up Form*/
.form_container{
    display:flex;
    //justify-content:flex-start;
    max-width:450px !important;
    min-width:350px !important;
    direction:column;
    border-radius:10px;
    padding:10px;
    //height:50vh;
    //background-color:red;
}

.form-control{
  background-color: #f8f9fa;
  padding: 10px;
  padding: 10px 15px;
  margin-bottom: 0.8rem;
  border:1px solid #bebebe;
  border-radius:10px;
  //display:inline-block;
  width:100%
}

h2{
  padding-top: 1.5rem;
}
.icon-ilu{
    width:150px !important;
    margin-left:10%;
}

.icon-ilu img{
    width:100%;
}

.objectives-div ul{
    list-style-typ:none;
}

.form-a{
    margin:0 0 0 0px;
    color: #333;
    float:right;
    padding-top:4%;
}
.card-title{
    color:#006769;
}
.links:hover{
    background-color:rgba(0,0,0,0);
    color:#006769;
    transition:0.7 ease-in-out;
    cursor:pointer
}

.card-{
  border: 0.40rem solid #f8f9fa;
  display:flex;
  justify-content:center;
  align-items:center;
  width:
}

.form-control:focus {

    color: #006769;
    background-color: #ffffff;
    border: 2px solid #006769;
    outline: 0;
    box-shadow: none;

}

.contact-form{
    width:100%;
    //height:600px;
    padding:18px;
    //background-color:#23aaa3;

}

.contact-form-control{
  background-color: #f8f9fa;
  padding: 10px;
  padding: 10px 15px;
  margin-bottom: 0.8rem;
  border:1px solid #bebebe;
  border-radius:10px;
  //display:inline-block;
  width:70%
}

.topics{
    padding:1% 1%;
    height:100%;
    width:70%;
}

.legend-ary{
    border:2px solid #006769;
    padding:3% 2%;
    border-radius:15px;
    height:100%;
}



.info-graph{
    display:flex;
    position:relative;
    width:auto;
    //background-color:#fab;
    padding:20px;
    gap:0px;
    align-items:center;
}

.label-graphic{
    display:flex
    align-items:center;
    height:auto;
    min-height:100px;
    border-radius:70px 70px 70px 70px;
    //border:1px solid #baf;
    background-color:purple;
    padding:0 40px 0 150px;
    margin-left:-100px;

}

.steps-circle{
    background-color:#fabafb;
    min-width:150px;
    min-height:150px;
    border-radius:50%;
    border:9px solid white;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1;
}

.steps-circle p{
    font-size:36px;
    font-weight:700;
}

.descriptor p{
    color:white;
}


.line-positioner{
    display:flex;
    flex-direction:column;
    //background-color:orange;
    min-width:500px;
}

.arrow{
    display:flex;
    justify-content:center;
    height:auto;
    width:100%;
    min-width:800px;
    //background-color:orange;
    //position:absolute;
}

.trans-rotate{
    transform: translate3(-100%, 50%);
}

.arrow-lines{
    //position:absolute;
    height:100px;
    width:50%;
    float:left;
    border-bottom:2px solid red;
    border-left:2px solid red;
    border-radius: 0 0 0 30px;
}


.arrow-lines-r{
    display:flex;
    float:right;
    height:100px;
    width:50%;
    margin-left:250px;
    margin-top:-2px;
    border-top:2px solid red;
    border-right:2px solid red;
    border-radius: 0 30px 0 0px;
}

.arrow-lines-r-2{
    display:flex;
    float:right;
    height:100px;
    width:50%;
    //margin-bottom:250px;
    border-bottom:2px solid red;
    border-right:2px solid red;
    //border-radius: 0 30px 0 0px;
}

.titles{
    float:left;
    display:flex;
    align-items:center;
    width:85%;
}

.title-bar-cont{
    display:flex;
    background-color:#006769 !important;
    //background:linear-gradient(to top, rgba(255,255,255,0.6)50%,rgba(255,255,255,0.6)50%);
    //position:fixed;
    height:70px;
    width:100%;
}

.social-icons{
    display:flex;
    justify-content:flex-start;
    align-content:flex-end;
    //align-items:flex-end;
    width:15%;
    height:inherit;
    //background-color:red;
}

.arrow-lines-2{
    //position:absolute;
    height:100px;
    width:50%;
    float:left;
    border-top:2px solid red;
    border-left:2px solid red;
    //border-radius: 0 0 0 30px;
}


.step-2{
    //position:absolute;
    top:650px;
    //background-color:#ffa;
    width:100%;
}

.inf-step-2{
    left:50%;
}

.text-area{
    height:200px;
}

.form-btn{
  padding: 0.6rem 1.2rem;
  background: #006769;
  border: 2px solid #006769;
  border-radius:10px;
  color:#fff;
  font-weight:bold;
}

.btn-primary:hover {
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;
  }

.labels{
    font-size:14px;
    margin:10px 10px;
    padding:5px;

}

.marginise-bottom{
    margin-bottom:20px;
}


.marginise{
    margin:100px 0 50px 0;
}

.job_ad_group{
    //width:70%;

}

#closeButton{

    border:none;
    background:none;
    color:white;
    font-weight:bold;
    font-size:18px;

}

.x_cont{
    position:absolute;
    border-radius:50%;
    padding:10px;
    background-color:#006769;
    right:-10px;
    top:-10px;
}




/*      --------LEFT NAV-------- */

.sidebar-main{

    margin-top: 200px;
    background-color: #eee;
    width:200px;
    height:400px;
    padding:5px 10px;
    border-radius:0px 10px 10px 0px;
    z-index: 1;
    top: 0;
    left:0px;
    position:absolute;
    display:none;

}
.d-flex{
    display:flex;
    flex-direction:column;
    //align-items:center;
}

.sidebar-main h3{

    color:#006769;
    //width:100%;
    float:left;
    padding-bottom:6px;
    border-bottom:1px solid  #006769;
    display: inline-block;

}

.navbar-side-nav{
 text-decoration: none;
 list-style-type:none;
 }

/* The navigation menu links */
.navbar-side-nav a{
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 14px;
  color: #303030;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.home-content{
    //background-color:#eae;
    //height: 300px;
    display:flex;
    justify-content:center;
    align-items:center;
    //border-radius: 30px;
    padding:50px;
    margin-top:80px;
    width:75%;
    min-width:800px;
    margin:0 auto;
}

.home-tags{
    display:flex;
    align-items:center;
    //border-radius: 0 30px 30px 0;
    height: 300px;
    padding:50px;
    width:50%;
    background-color:#eaeaea;

}

.jb-viewed-card-body{
    display:flex;
    flex-direction:column;
    width:100%;
}

.home-tags p{
    font-size:150%;
}



.home-img-div{
    //border-radius: 30px;
    height: 300px;
    overflow:hidden;
}

.anim{
    opacity:0;
    transform:translateY(30px);
    transition: 1s all ease;
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{

    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

.flex-justify-align{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center
}

.general-flex-x{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:0;
}

.general-flex{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
#login-page{
    justify-content:flex-start !important;
}
.login-img-cont{
    background-color:3ec;
    //margin-left:-200px;
}

.border-radius-15{
    border:1px solid #bbb;
    border-radius:15px;
}

.a:hover{
    color:#006769;
}

.flex-column{

    display:flex;
    flex-direction:column;
    background-color:33ea2b;
    width:20%;
    padding:1em;

}

.companies-chd-cont{
    display:flex;
    flex-direction:column;
    align-items:center;

}

.font-sizer{
    font-size:10px !important;
}

.center-prl-img{
    width:100%;
    margin:0 auto;
}
.testm_style{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:80px;
    margin: 10px auto;
    border-radius:10px;
    padding:1px 5px;
    text-align:center;
    align-items:center;
    box-shadow:-2px 1px 3px 0px rgba(0,0,0,0.4);
}

.line-separator{
    margin-top:15px;
    background-color:coral;
    border-radius:1px;
    height:3px;
    width:70%;
}

.img-testm-cont{
    //display:flex;
    width:200px;
    height:200px;
    border-radius:50%;
    overflow:hidden;
    content-justify:center;
    //margin:15% 15% auto auto;
    background-color:blue;
}

.center-testm-img{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px 0;
    //background-color:red;
}


.home-content-why-hot{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.home-cont-items{
        font-size:25px;
        width:30%;
        min-width:300px;
        padding:70px 10px;
        margin:10px;
    }

.home-cont-items p{
        font-size:1vw !important;
        font-weight:400;
        color:#707070;
    }

.width-fill-scrn{
    margin-top:150px;
    margin-left:-300px;
    margin-right:-300px;
    background-color:#e7e7e7;
    padding:2%;
}

#myButton{
    position: absolute;
    top: -10;
    left:0;
}


:is(p){
    font-size:130% !important;
   }

.flex-justify-align p{
    width:30%;
}


.card {
  //max-width: 300px;
  //min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1000px;
  width: 800px !important;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}



#nav-div-mobile{
display:none
}

.nav-item a{
    font-weight:bold;
    color:#202020 !important;
}

.nav-item a:focus{

    color:#006769 !important;
}

.job-sub-title{
    display:flex;
    flex-direction:row;
    gap:15px;
}

.job-info{
    display:flex;
    flex-direction:column;
    border-radius:10px;
    width:47%;
    padding:10px 0;
    background-color:#eee;
    justify-content:space-between;
    gap:10px !important;
}

.size-it span{
    font-size:20px !important;
    color:#606060 !important;
}

.size-it{
    font-size:16px !important;
    font-weight:bold !important;
    color:#006769;
}



@media all and (max-width: 600px) {


.nav-item a{
    font-size:0.9em;
}


.btns{
    margin:0;
    width:150px !important;
}
.tags{
   margin-top:40% !important;
}

.flash-messages{
    position:absolute !important;
    z-index:3;
    //bottom:600 !important;
    height:20vw !important;
    margin-bottom:5% !important;
    width:93% !important;
   // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.user{
    background-color:rgba(255, 255, 255, 0.8) !important;
    width:100%;
    margin-top:-15px;

    backdrop-filter: blur(15px) !important;
}

.navbar-nav-user{
    display:flex;
    justify-content:flex-end;
    width:90% !important;
}

#check-menu{

//display:none;

}


.navbar-nav{
    //display:block;
    height:30px;
    left:0 !important;
    width:100% !important;
    //background-color:#ed45ed;
}

.navbar-nav li{
    margin:0 auto !important;
    //background-color:coral !important;
    //width:50%;
    display:flex;
    justify-content:center;
}

.navbar-nav li a{
    text-align:center;
}



#nav-div{
    display:flex;
    flex-direction:column;
    background-color:#ededed;
    //flex-wrap:
    //padding:5px 0px;
    width:100%;
    height:60px;
    //margin-bottom:10px;
}


.home-cont-items p{
        font-size:5vw !important;
        //font-weight:bold;
    }

.invite-cards{
    font-size:20%;
}

.flex-justify-align p{
    width:90% ;
}

   :is(p){
    font-size:110% !important;
   }

  .title-strokes{
    display:none;
  }

  .banner-container{
    background-color:#eee;
    width:100%;
    //margin-left:-35px;
    //margin-top:-350px;
    margin-bottom:80px;
    height:100vh !important;
    }

  .banner-cap{
    position:absolute;
    top:25%;
    left:10%;
    width:50%;
    min-width:200px;
    padding-left:5px;
    }

  .banner-cap h1{
    color:#303030 !important;
    font-size:240% !important;
    }

  .banner-cap h2{
    color:#303030 !important;
    font-size:280% !important;
    }

  .banner-animator{display:none;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .card{
    width:100%;
    //padding:0px 20px;
    //background-color:#aaa;
    border-radius:15px;
    border:1px solid ##006769;
  }

  .account_container{
    width:360px;
    padding:2px;
    margin-left:-2px;
    //background-color:#2393bb;

  }

  #browse-job{border:1px solid #eee;width:30% !important;padding: 0 50px 50px 50px;margin:0 auto !important}



  .forms{
    //width:450px;
    background-color:#eee;
    padding-left:0px;
    display:flex;
    flex-direction:column;
    border-radius:15px;
  }

  .form-group{
    width:100%;
    margin:0px;
    padding-left:0px;
    background-color:#eee;

    //align-items:center;
  }

  .acc-form-control-up{
    margin-left:-40px;

  }
  .acc-labels label{
    margin-left:-40px;
  }

  .media-h2{
    margin-left:-38px;
  }
  .tags{
    width:95%;
    margin:50px auto 0px auto;
  }


  .home-content{
    background-color:#aee;
    width: 80%;
    min-width:300px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin-top:70px;
    }


  .home-tags{
    display:flex;
    align-items:center;
    //border-radius: 0 30px 30px 0;
    //height: 300px;
    //padding-left:25px;
    width:100%;
    background-color:#fafafa;
    }

    .home-tags p{
        font-size:120% !important;
    }

    home-img-div{
        width:100%;
    }
    .home-content-why-hot{
        display:flex;
        flex-direction:column;
    }
    .home-cont-items{
        width:90%;
        min-width:300px;
    }
    .flex-justify-align{
        flex-direction:column;
    }
    .width-fill-scrn{
        //margin-top:150px;
        margin-left:-30px;
        margin-right:-30px;
        background-color:#e7e7e7;
        //padding:2%;
    }
    .flex-justify-align div{
        width:90%;
    }
    .home-ads{width:90%}

    .job_ad_group{}

    .form_container{width:95%;background-color:eabca2}

    .adj-wid{width:100%}

    .general-flex{flex-direction:column;justify-content:center}
  
    .footer{
      
      display:flex;
      width:100%;
      justify-content:center;
      //margin-left:-30px;
      margin-right:0px;
      
    }

    .user_captions{
        margin-top:70px;
        width:50% !important;
        color:#909090 !important;

    }

    .account{margin-left:50px}

    .img-div{

    width:50%;
    height:7vh;
    //margin-left:-210px;
    margin-top:-95px;
    //background-color:#006769;
    //padding:10px;
    //object-fit:cover;
    //border-radius:50%;
}

#login-page{
    flex-direction:column-reverse !important;
    //background-color:#3ae;
}

.login-img-cont img{
    width:90% !important;
}

  /*  .footer{
  margin-top:150px;
  margin-left:-300px;
  margin-right:-300px;
  background-color:#a7a7a7;
  padding:2%;
}*/

}
