{% extends "base.html" %}

{% block content %}
<div   class="tags">
        <p class="paras-subtopics"></p><br><br>
        <div class="job_main-cont">
        {% if all_applications %}
        {% for ea_application in all_applications %}
        {% if ea_application.employer_id == current_user.id %}

            <!----FORM----->
            <div style=""  class="job_ad_container">
                <div style="width:370px" class="job_ad_style">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="card-appl">
                                    <div class="card-cont">

                                        <h2>Job Applicant</h2>
                                        <div style="margin:0 auto;" class="center-prl-img">
                                            <div class="img-cont">
                                                <img class="prf-image" src="static/images/{{job_user.query.get(ea_application.applicant_id).image}}"/>
                                            </div>
                                        </div>

                                        <!-------JOB TITLE--------->

                                        <h2 style="margin-bottom:0px">{{job_user.query.get(ea_application.applicant_id).name}}</h2>

                                        <!-------THEIR ADDRESS--------->
                                        <p><span class="material-icons">place</span>
                                            {{job_user.query.get(ea_application.applicant_id).address}}</p>

                                        <hr>

                                        <h3><span style="color:#909090" class="material-icons">work</span> <br><span>{{job_ads.query.get(ea_application.job_details_id).job_title}}</span></h3>

                                        <!-------DATE OF APPLICATION--------->
                                        <p><span style="color:#aaa"  class="material-icons">schedule</span><br>{{ea_application.time_stamp.strftime("%d %B %y,  %H:%M" )}}</p>

                                         <!-------THEIR QUALIFICATIONS--------->
                                        <p><label for="Job Type" class="labels"></label></p>
                                        <div><p>{{job_user.query.get(ea_application.applicant_id).qualifications}}</p></div>

                                         <!--------ADVERT'S DEADLINE-------------->
                                        <div><p style="font-size:10">{{job_user.query.get(ea_application.applicant_id).deadline}}</p></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="dispaly:block">
                             <a class="view_job" href="/view_applicant?uid={{ser.dumps({'data4':ea_application.applicant_id})}}&app_id={{ser.dumps({'data5':ea_application.job_details_id})}}">View Applicant</a>
                        </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
            {% else %}
              <div class="flash-messages alert-error"> There are currently no Job Applications yet!!, check again later</div>
            {% endif %}
        </div>
</div>
{% endblock %}