{% extends "base.html" %}

{% block content %}
<div   class="tags">
        <p class="paras-subtopics"></p><br><br>
        <div class="job_main-cont">
        {% if all_applications %}


            <!----FORM----->
            <div style="background-color:ae23a3;position:relative" class="general-flex-x">

                {% for ea_application in all_applications %}
                {% if ea_application.employer_id == current_user.id %}
            <!----FORM----->

                <div style="display:flex;flex-direction:column;width:300px;height:500px" class="new_job_ad_style anim">

                                        <h2>Job Applicant</h2>

                                        <div style="" class="center-prl-img">
                                            <div style="margin:15px auto 0px auto;"  class="img-cont">
                                              {% if db.session.query(company_user).get(item.job_posted_by) %}
                                                    {% if not db.session.query(company_user).get(item.job_posted_by).image == None %}
                                                        <img class="prf-image" src="static/images/{{job_user.query.get(ea_application.applicant_id).image}}"/>
                                                    {% endif %}
                                              {% else %}
                                                    <img class="prf-image" src="static/images/default.jpg"/>
                                              {% endif %}
                                            </div>
                                        </div>

                                        <!-------JOB TITLE--------->

                                        <h2 style="margin-bottom:0px">{{job_user.query.get(ea_application.applicant_id).name}}</h2>

                                        <!-------THEIR ADDRESS--------->
                                        <p><span class="material-icons">place</span>
                                            {{job_user.query.get(ea_application.applicant_id).address}}</p>

                                        <hr>

                                        <h3><span style="color:#909090" class="material-icons">work</span> <br><span>{{job_ads.query.get(ea_application.job_details_id).job_title}}</span></h3>

                                        <!-------DATE OF APPLICATION--------->
                                        <p><span style="color:#aaa"  class="material-icons">schedule</span><br>{{ea_application.time_stamp.strftime("%d %B %y,  %H:%M" )}}</p>

                                         <!-------THEIR QUALIFICATIONS--------->
                                        <p><label for="Job Type" class="labels"></label></p>
                                        <div><p>{{job_user.query.get(ea_application.applicant_id).qualifications}}</p></div>

                                         <!--------ADVERT'S DEADLINE-------------->
                                        <div class="job-info">
                                            <p class="centralise_font size-it"><span class="material-icons "></span> Deadline</p>
                                            <label style="margin-top:-10px" class="centralise_font">{{job_user.query.get(ea_application.applicant_id).deadline}}</label>
                                        </div>


                                    <div style="dispaly:block">
                                        <a class="view_job" href="/view_applicant?uid={{ser.dumps({'data4':ea_application.applicant_id})}}&app_id={{ser.dumps({'data5':ea_application.job_details_id})}}">View Applicant</a>
                                    </div>

                                    </div>
                                {% endif %}
                                {% endfor %}

                                </div>
                            </div>
                        </div>




            {% else %}
            <div style="padding-left:30px;padding-right:70px"  class="job_ad_container">
                <div class="flash-messages alert-error">No Job Applications yet!! Post a Job Advert or check again later</div>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}