{% extends "base.html" %}

{% block content %}
<div style="margin-top:150px;" class="tags">

    <h1 >Take a moment & learn about, <br><span class="spans">How It Works</span></h1>
    <h2> We empower College & University Graduates, Freelancers & School Leavers with practical Industry Skills to build their professional profiles</h2>
<!--    First step-->
    <div style="overflow-x:auto;display:flex;" class="steps-cont">

        <div class="info-graph">
            <div class="steps-circle"><p>Step 1</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">Join our community </span>- it’s free
                <br><br>Simple and easy sign-up process for both employers and youth.</p></div>
        </div>
        <div class="info-graph"><img class="inherent" src="static/icons/sign_up.png" ></div>

    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-01" class="line-positioner"> <img class="inherent" src="static/icons/arrows-01.png"></div>
    </div>


    <!--    Step 2-->
     <div style="overflow-x:auto;display:flex;width:100%;" class="steps-cont step-2">
        <div style="background-color:" class="info-graph"><img class="inherent" src="static/icons/hiring.gif" ></div>

        <div style="background-color:" class="info-graph inf-step-odd">
            <div class="steps-circle"><p>Step 2</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">Employers</span>
                <br><br> will post jobs, search for talent, and manage job applications.</p></div>
        </div>
         <div class="info-gragh"></div>

    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-02" class="line-positioner"> <img class="inherent" src="static/icons/arrows-02.png"></div>

    </div>


    <!--    Step 3-->
    <div style="overflow-x:auto;display:flex;" class="">

        <div class="info-graph">
            <div class="steps-circle"><p>Step 3</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:21px">Browse For Jobs</span>
                <br><br>Youth can browse jobs, apply directly and showcase their skills.</p></div>
            <div class="info-graph"><img class="inherent" src="static/icons/jobsearch.gif" ></div>
        </div>

    </div>

    <!--    Image of arrow-->
    <div class="container-img">
        <div id="positioner-04" class="line-positioner"> <img class="inherent" src="static/icons/arrows-01.png"></div>
    </div>


    <!--    Step 4-->
     <div style="overflow-x:auto;display:flex;width:100%;" class="steps-cont step-2">
        <div style="background-color:" class="info-graph"><img class="inherent" src="static/icons/profile.gif" ></div>

        <div style="background-color:" class="info-graph inf-step-odd">
            <div class="steps-circle"><p>Step 4</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:24px">Build Your Career Profile</span>
                <br><br> Secure platform to connect and communicate with potential employers.</p></div>
        </div>
         <div class="info-gragh"></div>

    </div>


<!--    <div style="background-color:grey" class="arrow">-->
<!--        <div class="line-positioner">-->
<!--            <div class="arrow-lines-2"></div>-->
<!--            <div class="arrow-lines-r-2"></div>-->
<!--        </div>-->
<!--    </div>-->

</div>
{% endblock %}