{% extends "base.html" %}

{% block content %}
<div style="margin-top:150px;" class="tags">
    <h1 >Take a moment & learn about, <br><span class="spans">How It Works</span></h1>
    <div style="overflow-x:auto;display:flex;" class="">

        <div class="info-graph">
            <div class="steps-circle"><p>Step 1</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:21px">Sign Up</span><br>The User opens a THT Account</p></div>
        </div>

    </div>

    <div style="background-color:red" class="arrow">

        <div class="arrow-lines">

        </div>
        <div class="arrow-lines-r">

        </div>

    </div>

     <div style="overflow-x:auto;display:flex;" class="step-2">

        <div class="info-graph inf-step-2">
            <div class="steps-circle"><p>Step 2</p></div>
            <div class="descriptor label-graphic"><p><span style="font-weight:500;font-size:21px">Sign Up</span><br>The User opens a THT Account</p></div>
        </div>

    </div>

</div>
{% endblock %}