{% extends "base.html" %}

{% block content %}

<script>
        function reveal() {
          var reveals = document.querySelectorAll(".anim");

          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 100;

            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("active");
            } else {
              reveals[i].classList.remove("active");
            }
          }
        }

        window.addEventListener("scroll", anim);
</script>

<div class="tags">
  <div class="flash-messages" class="btns">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}</div>
  <h1 style="font-size:45px;">Welcome to the <br> <span class="spans">Grind</span></h1>
  <p style="font-size:25px;" class="paras-subtopics">Join the Large Community of Eswatini's Young People and Showcase Your Skills & Abilities Today;
      Companies and Institutions are Waiting to See Your Potential and be part of their future prospects.
  </p>
  <div class="actions">
    <a  href="sign_up"><button class="btns-margin btns" id="join_btn">Join Community</button> </a>
  </div>
    <div class="home-content anim">
        <div class='home-img-div'  style="background-color:#23aeb2"><img class="prf-image" src="static/images/default.jpg"/></div>
        <div class='home-tags' style="">
            <p><span style="font-size:1.7em" >Show Case Your Skills</span><br>Increase Your Changes to get Employed, by showing the outside World your Skills</p>
        </div>
    </div>

    <div class="home-content anim">

        <div class='home-tags' style="margin-left:25px;">
            <p><span style="font-size:1.7em" >Cultivate Your Dream Job Prospects</span><br>Increase Your Skills & Work Experience while still waiting for your Dream Job
            </p>
        </div>
        <div class='home-img-div'  style="background-color:#23aeb2"><img class="prf-image" src="{{img_2}}"/></div>
    </div>

    <div class="home-content anim">
        <div class='home-img-div'  style="background-color:#23aeb2"><img class="prf-image" src="{{img_3}}"/></div>
        <div class='home-tags' style="margin-left:25px;">
            <p><span style="font-size:1.7em" >Maximize Your Potential</span><br>Increase your changes to get employed by delivering the necessary & required skills
            in the market. Your temporal bosses may be stunned by your potential and you can make them think again.</p>
        </div>
    </div>

    <div style="margin-top:150px" >
        <div style="display:flex;align-items:center;width:100%;font-size:20px;"><h1 style="">Why H.O.T (Hustlers One Time)? </h1><div style="background-color:#23aeb2;height:4px;width:550px;"></div></div>
        <div class="home-content-why-hot">
            <div style="" class="home-cont-items job_ad_style anim" >
                <i style="font-size:150px;color:#006769;" class="material-icons">timer</i>
                <p style="font-size:25px;width:90%">Time flies and waits for know man, we want to keep you ahead be up-to-date with industry skills while you still have no permanent Job. </p>
            </div>

            <div  style="" class="home-cont-items job_ad_style anim">
                <i style="font-size:150px;color:#006769;" class="material-symbols-rounded">psychiatry</i>
               <p style="font-size:25px;width:90%">If plan A is not working, why do not we try plan B we can collectively accumulate industry skills and experience with the H.O.T Jobs and be ready
                for the permanent Job One</p>
            </div>

            <div style="" class="home-cont-items job_ad_style anim">
                <i style="font-size:150px;color:#006769;" class="material-symbols-rounded">skateboarding</i>
               <p style="font-size:25px;width:90%">Its Obvious you're not advancing or learning anything while sitting at home. Get more jobs skills and be prepared for new opportunities
               of work and business ideas you can spot out there</p>
            </div>

        </div>

    </div>

    <div class="width-fill-scrn" >
        <div style="width:70%;margin:0 auto;">
            <div style="display:flex;align-items:center;width:100%;font-size:20px;"><h1 style="">How, Companies Join Hands to empower Youth? </h1><div style="background-color:coral;height:4px;width:550px;"></div></div>
            <div style="" class="flex-justify-align">
                <h2>Register Your company with the H.O.T to voluntary Empower the Youth with Skills needed in th industry while they are still on the search for their career pathways.</h2>
                <h2>Train the Youth to lead safe, healthy, and successful lives as giving back to the Eswatini Community.</h2>
                <h2>Do you want to our young people see a pathway full of learning and earning opportunities beyond having a permanent Job. Let's make this count</h2>
            </div>
            <h2 style="margin-bottom:0px;">Enough Lets put this work!!</h2>
            <div class="actions">
                <a  href="/company_sign_up"><button class="btns-margin btns" id="join_btn1">Register Company</button> </a>
            </div>
        </div>

    </div>
    <h1 style="margin-top:80px">Partnering Companies</h1>
    <div style="overflow-x:auto;display:flex;" class="companies-cont border-radius-15">

        {%for cmp in companies_ls %}


        <div style="padding:30px;" class="companies-chd-cont">
            <div class="img-cont"><img class="prf-image" src="static/images/{{cmp.image}}"></div>
            <h4>{{cmp.name}}</h4>
            <div style="width:150px" class="flex-justify-align">
                {% if cmp.web_link %}
                    <a href="/"><i style="font-size:25px;color:#bbb;" class="material-symbols-rounded a-hover">language</i></a>
                {% endif %}
                {% if cmp.fb_link %}
                    <a href="#"><i style="font-size:25px;color:#bbb;" class="material-symbols-rounded">favorite</i></a>
                {% endif %}
                {% if cmp.twitter_link %}
                    <a href="#"><i style="font-size:25px;color:#bbb;" class="material-symbols-rounded">view_kanban</i></a>
                {% endif %}
                {% if cmp.youtube %}
                    <a href="#"><i style="font-size:25px;color:#bbb;" class="material-symbols-rounded">youtube_activity</i></a>
                {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>


    <div style="display:flex;flex-direction:column;margin-top:150px;" >
        <div style="display:flex;align-items:center;width:100%;font-size:20px;"><div style="background-color:coral;height:4px;width:550px;"></div><h1 style="">How Do We Work</h1></div>

        <div style="margin-top:20px;" >
            <h2>We an intermediate institution who forms a network between young unemployed youth between 18 - 38 years who are ready to work but because of job shortage,
                we want to explore other ways how young can still have a way to work and built their experiences and increase their chances to get employment through short term jobs</p>
            </h2>
        </div>

        <div class="flex-justify-align">

            <div style="font-size:25px;padding:70px 10px;margin:10px;" class="home-ads anim">
               <p style="font-size:25px;width:90%">Are you jobless and finding it hard to get employed? Join the H.O.T (Hustlers-One-Time) Network and to explore other alternatives to increase yur changes
                    of employment</p>
            </div>

            <div style="font-size:25px;padding:70px 10px;margin:10px;" class="home-ads anim">
               <p style="font-size:25px;width:90%">Our Brockage services are free of charge because we want to place you in position of preference because of the potential that you yourself will display in
                    the industry</p>
            </div>

        </div>

    </div>



    <div class="actions">
        <a  href="sign_up"><button class="btns-margin btns" id="join_btn">Join H.O.T</button> </a>
    </div>

    </div>

    <div class="footer" style="" >
        <div style="width:70%;margin:0 auto;">

            <!---<div style="" class="flex-justify-align">
              <div style="" class="flex-column">
                  <a href="#">Home</a>
                  <a href="#">About</a>
                  <a href="#">Contacts</a>
                  <a href="#">Jobs</a>
              </div>

              <div style="" class="flex-column">
                  <a href="#">Email Us</a>
                  <a href="#">Login</a>
                  <a href="#">Sign-up</a>
                  <a href="#">Company Sign-up</a>

              </div>

              <div  class="flex-column">
                  <a href="#">Home</a>
                  <a href="#">About</a>
                  <a href="#">Contacts</a>
                  <a href="#">Jobs</a>
              </div>


            </div> --->
            <div class="footer-cap" style="display:flex;justifiy-content:center;width:100%;font-size:20px;"><h3 style="color:white">2023, Hustlers-One-Time (H.O.T) - All Rights Reserved </h3></div>
        </div>

    </div>


</div>
{% endblock %}
