{% extends "base.html" %}

{% block content %}
<div   class="tags">
    <div class="flash-messages" class="btns">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}80
            {% endif %}
        {% endwith %}</div>
  <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->
  <p class="paras-subtopics">Post A Job</p>
<!--    {% if current_user.is_authenticated %}-->
<!--    {% endif %}-->

    <div style="background-color:ae23a3;" class="general-flex">
    {% for item in job_ads %}
        <!----FORM----->

            <div style="display:flex;flex-direction:column;width:300px;" class="new_job_ad_style">

                        <div style="" class="center-prl-img">
                            <div style="margin:15px auto 0px auto;"  class="img-cont">
                              {% if db.query(company_user).get(item.job_posted_by) %}
                                    {% if not db.query(company_user).get(item.job_posted_by).image == None %}
                                        <img class="prf-image" src="{{url_for('static', filename='images/' + db.query(company_user).get(item.job_posted_by).image)}}"/>
                                    {% endif %}
                              {% else %}
                                    <img class="prf-image" src="static/images/default.jpg"/>
                              {% endif %}
                            </div>
                        </div>

                        <h2 style="margin-bottom:0px;margin-top:0px;">{{db.query(company_user).get(item.job_posted_by).name}}<br><span><small style="color:#aaa" >{{db.query(company_user).get(item.job_posted_by).name}}</small></span></h2>

<!--                        <div style="width:70%;margin:0 auto;"><hr></div>-->

                        <!-------JOB TITLE--------->
                            <p class="job-title">{{item.job_title}}</p>

                         <!-------JOB TYPE--------->

                            <p class="centralise_font"><span class="material-icons">work</span>
                            <p class="centralise_font">{{item.job_type}}</p>


                        <!-------RESPONSIBILITIES--------->
                            <p class="centralise_font" ><span class="material-icons">place</span></p>
                            <div class="centralise_font" ><p>{{db.query(company_user).get(item.job_posted_by).company_address}}</p></div>

                        <!--------DEADLINE-------------->
                            <div class="" >
                                <p class="centralise_font" ><span class="material-icons">schedule</span></p>
                                <p style="font-size:10">{{item.application_deadline.strftime("%d %b %y")}}</p>
                            </div>

                            <div style="background-color:ea2a30;flex-grow:5;" >
                                <p class="centralise_font" ></p>
                            </div>

                        <!--------VIEW BUTTON-------------->
                        <div style="dispaly:block">
                             <!--<input class="btns" type="submit" value="Create Account" />-->
                             <a class="view_job" href="/job_ad_opened?id={{item.job_id}}">View</a>
                        </div>

                    </div>
                    {% endfor %}
            </div>
        </div>
{% endblock %}