{% extends "base.html" %}

{% block content %}
<div   class="tags">
    <div class="flash-messages" class="btns">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}80
            {% endif %}
        {% endwith %}</div>
  <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->
  <p class="paras-subtopics"></p>
<!--    {% if current_user.is_authenticated %}-->
<!--    {% endif %}-->
    <br><br>
    <label for="Job Category"> <span>Category:</span></label>
    <select class="jobs-category" style="margin-bottom:10px" name="field_category_sel">

         <option value="Media & Technology">Media & Technology</option>
         <option value="Information Technology">Information Technology</option>
         <option value="Occupational Health & Safety">Health & Safety</option>
         <option value="Miscellenious">Miscellenious</option>
         <option value="Education">Education</option>
         <option value="Science & History">Science & History</option>
         <option value="Engineering">Engineering</option>
         <option value="Music & Entertainment">Music & Entertainment</option>
         <option value="Transport & Logistics">Transport & Logistics</option>
         <option value="Pharmacy">Pharmacy</option>
         <option value="Tourism & Hospitality">Tourism & Hospitality</option>
         <option value="Literature">Literature</option>
         <option value="Life Skills">Life Skills</option>
         <option value="Geography & Culture">Geography & Culture</option>
         <option value="Health">Typist</option>
     </select>

  <div style="background-color:ae23a3;" class="general-flex-x">
            {% for item in job_ads %}
            <!----FORM----->
            <div style="display:flex;flex-direction:column;width:300px;" class="new_job_ad_style anim">

                        <div style="" class="center-prl-img">
                            <div style="margin:15px auto 0px auto;"  class="img-cont">
                              {% if db.query(company_user).get(item.job_posted_by) %}
                                    {% if not db.query(company_user).get(item.job_posted_by).image == None %}
                                        <img class="prf-image" src="{{url_for('static', filename='images/' + db.query(company_user).get(item.job_posted_by).image)}}"/>
                                    {% endif %}
                              {% else %}
                                    <img class="prf-image" src="static/images/default.jpg"/>
                              {% endif %}
                            </div>
                        </div>

                        <h2 style="margin-bottom:0px;margin-top:0px;">{{db.query(company_user).get(item.job_posted_by).name}}<br>
                        <span><small style="color:#aaa" >{{db.query(company_user).get(item.job_posted_by).name}}</small></span></h2>

                        <!-------JOB TITLE--------->
                        <p class="job-title">{{item.job_title}}</p>

                        <div class="job-sub-title">
                            <!-------JOB TYPE--------->
                            <div class="job-info">
                                <p class="centralise_font size-it"><span class="material-icons ">work</span>    Job Type</p>
                                <label style="margin-top:-10px" class="centralise_font">{{item.job_type}}</label>
                            </div>
                            <!--------DEADLINE-------------->
                            <div class="job-info">
                                <p class="centralise_font size-it" ><span class="material-icons ">calendar_month</span>    Project Due</p>
                                <label class="centralise_font" style="font-size:10;margin-top:-10px">{{item.application_deadline.strftime("%d %b %y")}}</label>
                            </div>

                        </div>


                         <!-------RESPONSIBILITIES--------->
                        <div class="">
                                <p class="centralise_font size-it" ><span class="material-icons">place</span></p>
                                <div style="margin-top:-10px" class="centralise_font" ><label>{{db.query(company_user).get(item.job_posted_by).company_address}}</label></div>
                        </div>

                        <div style="background-color:ea2a30;flex-grow:5;" >
                             <p class="centralise_font" ></p>
                        </div>

                        <!--------VIEW BUTTON-------------->
                        <div style="dispaly:block">
                             <!--<input class="btns" type="submit" value="Create Account" />-->
                             <a class="view_job" href="/job_ad_opened?id={{item.job_id}}">View</a>
                        </div>

                    </div>
                    {% endfor %}
            </div>
        </div>
{% endblock %}