{% extends "base.html" %}

{% block content %}
<br><br>
<div style="margin-bottom:100px;background-color:;"   class="tags ">

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <!--<h3>Password Reset<br> <span class="spans"></span></h3>--->

    <!----FORM----->
    <div class="portfolio-row">
    <div id="" style="min-width:350px;"  class="form_container_ browse-job">

                  <div style="" class="form-group">
                      <h2 style="font-size:29px" class="card-title text-center">Job Seeker Details</h2>

                      <div style="margin-left:50px"   class="img-cont">
                          {% if not job_usr.image == None %}
                                <img class="prf-image" src="static/images/{{job_usr.image}}"/>
                          {% else %}
                                <img class="prf-image" src="static/images/default.jpg"/>
                          {% endif %}

                     </div>

                     <div class="form-group">
                         <h3>Contact Information</h3>

                       <p class="view_applicant_p" ><span  class="acc-labels" style="font-wight:bold;" > Name: </span>{{job_usr.name}}</p>
                      <p class="view_applicant_p"><span style="font-wight:bold;" > Email: </span>{{job_usr.email}}</p>
                    </div>

                      <div class="form-group">
                          <h3 style="display:block;width:260px;"> <u>Education & Work Experience</u></h3>
                          <p class="view_applicant_p" ><span style="font-wight:bold;" >High School: </span>{{job_usr .school}}</p>

                          <p class="view_applicant_p" ><span style="font-wight:bold;" >Tertiary: </span>{{job_usr .tertiary}}</p>

                          <p class="view_applicant_p" ><span style="font-wight:bold;" >Work Experience: </span>{{job_usr .experience}}</p>

                    </div>


                      <div class="form-group">
                         <h3>Skills & Hobbies</h3>

                          <p class="view_applicant_p" ><span style="font-wight:bold;" >Skills: </span>{{job_usr .skills}}</p>
                          <p class="view_applicant_p" ><span style="font-wight:bold;" >Hobbies: </span>{{job_usr .hobbies}}</p>


                    </div>

                    <div style="padding-bottom:25px;" class="form-group">
                        <h3>References</h3>

                        <p class="view_applicant_p" ><span style="font-wight:bold;" >Physical Address: </span>{{job_usr .address}}</p>

                        <p class="view_applicant_p" ><span style="font-wight:bold;" >Reference 1: </span>{{job_usr .reference_1}}</p>

                        <p class="view_applicant_p" ><span style="font-wight:bold;" >Reference 2: </span>{{job_usr .reference_2}}</p>


                    </div>

                    <div class="d-flex flex-row align-items-center justify-content-between">


                   </div>
                  </div>
            </div>

            <div  style="min-width:350px;padding:20px"  class="form_container_ browse-job">
                <div class="portfolio-div">
                    <h2>Portfolio / Consecutive</h2>


                    </div>
            </div>
    </div>
    </div>
{% endblock %}